<#-- @ftlvariable name="server" type="model.Server" -->

<#import "../layout/main.ftl.html" as main>


<@main.main title="Status App - Instance ${server.instanceId}">

<nav>

    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Status App</a>
    </div>

</nav>

<div class="container">

    <div class="row">

        <div class="col s12">

            <table>
                <tr>
                    <td>Version</td>
                    <td>??</td>
                </tr>
                <td>
                    <td>Type
                </td>
            </table>

        </div>

    </div>
</div>

</@main.main>