<#-- @ftlvariable name="estate" type="model.Estate" -->

<#import "../layout/main.ftl.html" as main>


<@main.main title="Status App">

<nav>

    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Status App</a>
        <ul>
            <#list estate.allStages as stageName>
                <li class="<#if estate.isFilteredToStage(stageName)>active</#if>">
                    <a href="/${stageName}">${stageName}</a>
                </li>
            </#list>
        </ul>
    </div>

</nav>

<div class="row">

    <#list estate.groups as grp>
           <div class="col l4 m6 s12">
               <div class="card group-card z-depth-3">
                   <div class="card-content">
                       <span class="card-title">${grp.name}</span>

                       <table>
                           <thead>
                             <tr>
                                 <td>Instance</td>
                                 <td>State</td>
                                 <#if grp.hasAutoscalingGroup()>
                                 <td>AutoScaling</td>
                                 </#if>
                                 <td>ELB</td>
                                 <td>Launched</td>
                                 <td>Version</td>
                             </tr>
                           </thead>
                           <tbody>
                               <#list grp.servers as server>
                                <tr class="${server.cssClass}">
                                    <td>
                                        <a href="/instance/${server.instance.instanceId}">
                                          ${server.instance.instanceId}
                                        </a>
                                    </td>
                                    <td>${server.state?cap_first}</td>
                                    <#if grp.hasAutoscalingGroup()>
                                    <td>
                                        ${server.autoscalingLifecycleState}
                                    </td>
                                    </#if>
                                    <td></td>
                                    <td>
                                        ${prettyTime(server.instance.launchTime)}
                                    </td>
                                    <td></td>
                                </tr>
                               </#list>

                           </tbody>
                       </table>

                   </div>
               </div>
           </div>
    </#list>

</div>

</@main.main>